body{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1% 20%;
    background-color: lightgrey;
}
li{
    padding: 4px 0px;
}
li> em
{
    background-color: black;
    color: white;
    margin:5px;
}